<div id='card_pane' class="droppable">
  <div class='small_index_card yellow_card card_display ui-widget-content draggable'>          
    <div class='card[name]'></div>          
    <div class='card[content]'></div>          
    <div class='card[tag_collection]'></div>          
    <div class='card[date]'></div>
</div>
